<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs'); %>

  <body>
    <%- include('../partials/nav.ejs');%>
    
    <main class="page-container">
      <%- include('../partials/pageHeader.ejs'); %>
      <div class="card">
        <div class="card-header">
          <div><strong>Title:</strong> <%= interview.title %></div>
          <div><strong>Company:</strong> <%= interview.company.name %></div>
        </div>
        <div><strong>Type:</strong> <%= interview.type %></div>
        <div><strong>State:</strong> <span class="state state-<%= interview.state.toLowerCase() %>"><%= interview.state %></span></div>
        <% if(interview.jobApp){ %>
        <div><strong>Job Application:</strong> <a href="/jobApps/<%= interview.jobApp._id %>"><%= interview.jobApp.title %></a></div>
        <% } %>
        <div>
          <strong>Start Date:</strong> <%= new Date(interview.startAt).toLocaleDateString() %>
        </div>
        <% if(interview.endAt){ %>
        <div>
          <strong>End Date:</strong> <%= new Date(interview.endAt).toLocaleDateString() %>
        </div>
        <% } %>
        <% if(interview.description){ %>
        <div>
          <strong>Description:</strong> <%= interview.description %>
        </div>
        <% } %>
        <% if(interview.notes){ %>
        <div>
          <strong>Notes:</strong> <%= interview.notes %>
        </div>
        <% } %>
        <div class="actions">
          <a href="/interviews/<%=interview._id%>/edit" class="btn btn-primary btn-sm">Edit</a>
          <form action="/interviews/<%=interview._id%>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
