<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs'); %>

  <body>
    <%- include('../partials/nav.ejs');%>
    
    <main class="page-container">
      <%- include('../partials/pageHeader.ejs'); %>
      <div class="card">
        <div class="card-header">
          <div><strong>Title:</strong> <%= task.title %></div>
          <div><strong>Company:</strong> <%= task.company.name %></div>
        </div>
        <div><strong>Type:</strong> <%= task.type %></div>
        <div><strong>State:</strong> <span class="state state-<%= task.state.toLowerCase() %>"><%= task.state %></span></div>
        <% if(task.jobApp){ %>
        <div><strong>Job Application:</strong> <a href="/jobApps/<%= task.jobApp._id %>"><%= task.jobApp.title %></a></div>
        <% } %>
        <div>
          <strong>Start Date:</strong> <%= new Date(task.startAt).toLocaleDateString() %>
        </div>
        <% if(task.endAt){ %>
        <div>
          <strong>End Date:</strong> <%= new Date(task.endAt).toLocaleDateString() %>
        </div>
        <% } %>
        <% if(task.description){ %>
        <div>
          <strong>Description:</strong> <%= task.description %>
        </div>
        <% } %>
        <% if(task.notes){ %>
        <div>
          <strong>Notes:</strong> <%= task.notes %>
        </div>
        <% } %>
        <div class="actions">
          <a href="/tasks/<%=task._id%>/edit" class="btn btn-primary btn-sm">Edit</a>
          <form action="/tasks/<%=task._id%>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
