<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('../partials/nav.ejs')%>
    
    <main class="page-container">
      <header class="page-header">
        <h1><%= pageTitle %></h1>
        <a class="btn btn-primary btn-lg" href="/jobApps/new">+ ADD JOB APPLICATION</a>
      </header>

      <input type="search" class="search-bar" placeholder="SEARCH / FILTER">

      <div class="table-container">
        <div class="table-header">
          <div>Job Title</div>
          <div>Company</div>
          <div>Status</div>
          <div>Priority</div>
          <div>Actions</div>
        </div>

        <div class="table-body">
          <% jobApps.forEach(app => { %>
          <div class="table-row">
            <div><%= app.title %></div>
            <div><%= app.company %></div>
            <div><%= app.status %></div>
            <div><%= app.priority %></div>
            <div class="actions">
              <a href="/jobApps/<%=app._id%>" class="btn btn-warning btn-sm">View</a>
              <a href="/jobApps/<%=app._id%>/edit" class="btn btn-primary btn-sm">Edit</a>
              <form action="/jobApps/<%=app._id%>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
              </form>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </main>
  </body>
</html>