<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs'); %>

  <body>
    <%- include('../partials/nav.ejs');%>
    
    <main class="page-container">
      <%- include('../partials/pageHeader.ejs'); %>
      <div class="card">
        <div class="card-header">
          <div><strong>Title:</strong> <%= call.title %></div>
          <div><strong>Company:</strong> <%= call.company.name %></div>
        </div>
        <div><strong>Type:</strong> <%= call.type %></div>
        <div><strong>State:</strong> <span class="state state-<%= call.state.toLowerCase() %>"><%= call.state %></span></div>
        <% if(call.jobApp){ %>
        <div><strong>Job Application:</strong> <a href="/jobApps/<%= call.jobApp._id %>"><%= call.jobApp.title %></a></div>
        <% } %>
        <div>
          <strong>Start Date:</strong> <%= new Date(call.startAt).toLocaleDateString() %>
        </div>
        <% if(call.endAt){ %>
        <div>
          <strong>End Date:</strong> <%= new Date(call.endAt).toLocaleDateString() %>
        </div>
        <% } %>
        <% if(call.description){ %>
        <div>
          <strong>Description:</strong> <%= call.description %>
        </div>
        <% } %>
        <% if(call.notes){ %>
        <div>
          <strong>Notes:</strong> <%= call.notes %>
        </div>
        <% } %>
        <div class="actions">
          <a href="/calls/<%=call._id%>/edit" class="btn btn-primary btn-sm">Edit</a>
          <form action="/calls/<%=call._id%>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
